<div id="home" class="pimg1">
  <div class="intro-heading-text">
    <span>
      <h1>Hello, I'm Saroj Gautam</h1>
      <p>Msc, Computer Science, Technical University of Munich</p>
      <p>Software Engineer</p>
    </span>
  </div>
</div>

<div id="about-section">
  <div class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="about-me-desc">
          <p class="about-me-para-desc">
            I am software engineer with a Masters degree in Computer Science from Technical University of Munich. I have over 7 years
            of experience in software development. I have worked on several angular and spring projects.
          </p>
          <p class="about-me-para-desc">
            Recently, I've been working to provide complete solution for web development using recent technologies like Angular4(TypeScript)
            for frontend, RESful Web Service using Spring Framework &amp; Spring Security for backend and Photoshop/Illustrator/After
            effects for graphics.
          </p>
        </div>
      </div>
      <div class="col-md-7 about-me-img">
        <img src="/assets/parallax/about-me.png" class="img-responsive about-me-image" />
      </div>
    </div>
  </div>
</div>

<div class="pimg2" id="services-section">
  <div class="container">
    <div class="section-title-services">
      <h2>What I Do</h2>
      <hr>
    </div>
    <div class="clearfix"></div>
    <div class="row service-desc">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row service" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInDown;">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Front End development</h4>
            <ul class="ul-style">
              <li>
                Angular 2/4/5
              </li>
              <li>
                HTML5
              </li>
              <li>
                Bootstrap
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row service">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>App Design</h4>
            <ul class="ul-style">
              <li>
                Android application
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row service">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs">
              <i class="fa fa-envira" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Frameworks</h4>
            <ul class="ul-style">
                <li>
                  Spring
                </li>
                <li>
                  Spring Boot
                </li>
                <li>
                  Hibernate
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row service">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs">
              <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Back End development</h4>
            <ul class="ul-style">
              <li>
                Java
              </li>
              <li>
                RESTful Web Service
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row service">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Security</h4>
            <ul class="ul-style">
                <li>
                  Spring Security
                </li>
                <li>
                  JWT
                </li>
                <li>
                  Token based authentication
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row service">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs">
              <i class="fa fa-database" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Database</h4>
            <ul class="ul-style">
                <li>
                  SQL
                </li>
                <li>
                  Oracle
                </li>
                <li>
                    PostgreSQL
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pimg3" id="portfolio">
  <div id="feature-list-item-1">
    <div class="container">
      <div class="section-title-portfolio">
        <h1>My past works</h1>
        <hr>
      </div>
    </div>
  </div>

  <section id=timeline>
    <div class="demo-card-wrapper">
      <div class="demo-card demo-card--step1">
        <div class="head">
          <div class="number-box">
            <span>Oct 2017 - Present</span>
          </div>
          <h2>Apestee Apparels Pvt. Ltd.
            <span class="small">Senior Software Engineer</span>
          </h2>
        </div>
        <div class="body">
          <p class="text-justified">
            <a href="https://apestee.com" target="_blank">Apestee</a> is an online custome t-shirt designer website that lets you add your own texts, upload images or
            existing cliparts to design the personalized t-shirts of your choice.</p>
          <p class="text-justified text-left"> Technology Stack </p>
          <ul class="ul-style">
            <li>FrontEnd: Angular4, Bootstrap 3, HTML5(Canvas, Fabric js library)</li>
            <li>BackEnd: Java, RESTful Web Service</li>
            <li>Frameworks: Spring Boot, Hibernate</li>
            <li>Security: Spring Security (JWT)</li>
            <li>Database: MySQL</li>
            <li>Server: Tomcat</li>
          </ul>
        </div>
      </div>

      <div class="demo-card demo-card--step2">
        <div class="head">
          <div class="number-box">
            <span>Apr 2017 - Aug 2017</span>
          </div>
          <h2>Funargs Technologies
            <span class="small">Senior Software Engineer</span>
          </h2>
        </div>
        <div class="body">
          <p>
            <a href="http://funargs.com" target="_blank">Funargs</a> is web &amp; mobile applications development company having head-office in Nepal. We combine talent
            and technology to produce results.</p>
          <p class="text-justified text-left"> Technology Stack </p>
          <ul class="ul-style">
            <li>FrontEnd: Angular4, Bootstrap 3, HTML5</li>
            <li>BackEnd: Java, RESTful Web Service</li>
            <li>Frameworks: Spring Boot, Hibernate</li>
            <li>Security: Spring Security (JWT)</li>
            <li>Database: MySQL</li>
            <li>Server: Tomcat</li>
          </ul>
        </div>
      </div>

      <div class="demo-card demo-card--step1">
        <div class="head">
          <div class="number-box">
            <span>Jan 2017 - March 2017</span>
          </div>
          <h2>ZSA Constructions
            <span class="small">Senior Software Engineer</span>
          </h2>
        </div>
        <div class="body">
          <p class="text-justified">
            <a href="http://zsainc.com" target="_blank">Zsainc</a> is a construction company based in Washington, USA.</p>
          <p class="text-justified  text-left"> Technology Stack </p>
          <ul class="ul-style">
            <li>FrontEnd: Angular2, Bootstrap 3, HTML5</li>
            <li>Server: Tomcat</li>
          </ul>
        </div>
      </div>

      <div class="demo-card demo-card--step2">
        <div class="head">
          <div class="number-box">
            <span>Oct 2015 - Sept 2016</span>
          </div>
          <h2>Lieferoo GmbH
            <span class="small">Senior Software Engineer</span>
          </h2>
        </div>
        <div class="body">
          <p>Lieferoo is p2p crowdshipping platform based in Munich, Germany.</p>
          <p class="text-justified  text-left"> Technology Stack </p>
          <ul class="ul-style">
            <li>BackEnd: Java, RESTful Web Service</li>
            <li>Frameworks: Spring</li>
            <li>Security: Token Based Security</li>
            <li>Database: MySQL</li>
            <li>Server: Tomcat</li>
          </ul>
        </div>
      </div>

      <div class="demo-card demo-card--step1">
        <div class="head">
          <div class="number-box">
            <span>Dec 2013 - Sept 2015</span>
          </div>
          <h2>InterNations GmbH
            <span class="small">Software Quality Assurance Analyst</span>
          </h2>
        </div>
        <div class="body">
          <p class="text-justified  text-left">
            <a href="https://internations.org" target="_blank">Internations</a> is the leading network &amp; guide for expats in 390 cities worldwide.</p>
          <p class="text-justified  text-left"> Technology Stack </p>
          <ul class="ul-style">
            <li>Selenium</li>
            <li>Behat</li>
          </ul>
        </div>
      </div>

      <div class="demo-card demo-card--step2">
        <div class="head">
          <div class="number-box">
            <span>Sept 2010 - Sept 2013</span>
          </div>
          <h2>Verscend Technologies Pvt. Ltd
            <span class="small">Software Engineer</span>
          </h2>
        </div>
        <div class="body">
          <p>
            <a href="www://verscend.com.np/" target="_blank">Verscend Technologies </a>is a Medical Intelligence System that offers risk assessment services and decision
            analytics.
          </p>
          <p class="text-justified  text-left"> Technology Stack </p>
          <ul class="ul-style">
            <li>FrontEnd: JSP, JSF</li>
            <li>BackEnd: Java</li>
            <li>Security: Spring Security</li>
            <li>Database: Oracle</li>
            <li>Server: Tomcat, JBoss, Jetty</li>
          </ul>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="contact">
  <div class="container">
    <div class="contact-section-title">
      <h2>Contact</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>
