/* :host {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
} */

h1,
h2,
p {
  font-family: 'Montserrat-Medium', sans-serif;
}

hr {
  height: 2px;
  width: 155px;
  background: #00947c;
  position: relative;
  border: 0;
  margin: 30px 0 0 0;
}

.pimg1,
.pimg2,
.pimg3,
.pimg5 {
  position: relative;
  opacity: 0.90;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('/assets/parallax/image1.jpeg');
  min-height: 100%;
}

.pimg2 {
  background-image: url('/assets/parallax/services.jpg');
  min-height: 500px;
}

.pimg3 {
  background-image: url('/assets/parallax/design.jpg');
  min-height: 400px;
}

.img4 {
  background: url('/assets/parallax/achivements-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 80px;
}

.pimg5 {
  background-image: url('/assets/parallax/contact_bg.jpg');
  min-height: 500px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #fff;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.intro-heading-text {
  position: relative;
  padding-top: 400px;
  padding-left: 50px;
  padding-bottom: 220px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.ptext .border.trans {
  background-color: transparent;
}

/* About Section */

#about-section {}

#about-section .container {
  padding-top: 20px;
  padding-bottom: 80px;
  /* background: url('/assets/parallax/about-me.jpg') right no-repeat;
  background-size: auto 100%; */
}

.section-title {
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 30px;
}

.about-me-desc {
  text-align: justify;
}

.about-me-img {
  background-size: auto 100%;
}

.about-me-image {
  margin-top: -12%;
  height: 400px;
  width: 100%;
}

.about-me-para-desc {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.01em;
}

/* service section */

#service-section .container {
  padding-top: 20px;
  padding-bottom: 80px;
  /* font-family: 'Montserrat-Medium', sans-serif; */
  /* background: url('/assets/parallax/about-me.jpg') right no-repeat;
  background-size: auto 100%; */
}

.section-title-services {
  padding-top: 20px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 30px;
  color: black;
}

.service-desc {
  text-align: justify;
  font-size: 14px;
  color: #4c4343;
  font-family: 'Montserrat-Medium', sans-serif;
}

#services-section i.fa {
  border: 2px solid #00947c;
  border-radius: 50%;
  color: #00947c;
  font-size: 26px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  margin-top: 10px;
}

#services-section i.fa-mobile {
  font-size: 36px;
}

#services-section .service:hover i.fa {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/* Acheivements */

.achievement-box {}

.achievement-box h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 300;
  /* margin-left: 5px; */
  padding-top: 20px;
}

.achievement-box span.count {
  font-size: 52px;
  font-weight: 300;
  font-family: 'Montserrat-Medium', sans-serif;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
}

/* Portfolio Section */

.home-projects {
  background: url('/assets/parallax/design.png') center;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.section-title-portfolio {
  padding-top: 20px;
  padding-right: 0;
  padding-left: 0;
  color: #fff;
  text-align: left;
}

.carousel {
  background-color: #333;
}

.portfolio-heading {
  color: #fff;
  line-height: 160%;
  letter-spacing: 0.5px;
}

.portfolio-desc {
  color: #fff;
  padding-right: 45px;
  line-height: 160%;
  letter-spacing: 0.5px;
  font-size: 14px;
  padding-bottom: 10px;
}

@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(odd) .head::after,
  #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  #timeline .demo-card:nth-child(odd) .head::before,
  #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
  }
}

/* Some Cool Stuff */

.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 4;
}

.demo-card:nth-child(3) {
  order: 2;
}

.demo-card:nth-child(4) {
  order: 5;
}

.demo-card:nth-child(5) {
  order: 3;
}

.demo-card:nth-child(6) {
  order: 6;
}

/* Border Box */

* {
  box-sizing: border-box;
}

#timeline {
  font-family: 'Montserrat-Medium', sans-serif;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}

#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}

#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}

#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto;
  }
}

#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}

#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}

@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
  }
}

@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 370px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}

#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}

#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.small {
  padding-top: 5px;
  color: #ddd;
}

@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    line-height: 1.2rem;
  }
}

#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}

@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}

#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}

@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 300px;
  }
}

#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

#timeline .demo-card .body img {
  display: block;
  width: 100%;
}

#timeline .demo-card--step1 {
  /* background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%); */
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

#timeline .demo-card--step1 .head::after {
  border-color: #517fa4;
}

#timeline .demo-card--step2 {
  background-image: linear-gradient(to left, #243949 0%, #517fa4 100%);
}

#timeline .demo-card--step2 .head::after {
  border-color: #517fa4;
}

.ul-style {
  list-style: none;
  text-align: left;
  font-size: 12px;
}

/* Contact Me */

#contact {
  padding: 120px 0 80px 0;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  font-family: 'Montserrat-Medium', sans-serif;
}

#contact form {
  padding: 30px 0;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

label {
  font-size: 12px;
  font-weight: 400;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: #4b8d98;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #2c3e50;
}

.form-control:-moz-placeholder {
  color: #2c3e50;
}

.form-control::-moz-placeholder {
  color: #2c3e50;
}

.form-control:-ms-input-placeholder {
  color: #2c3e50;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

.contact-section-title {
  padding-right: 0;
  margin-bottom: 30px;
  padding-left: 43%;
}
